<a href="https://colab.research.google.com/github/seongbeop/python_study/blob/main/python_study2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3.14 * 10 * 10

314.0

In [ ]:
3.14 * 10**2

314.0

In [ ]:
import math
math.sin(40)

0.7451131604793488

In [ ]:
print("결과값은", 10, "입니다.")

결과값은 10 입니다.

In [ ]:
"나의" + "고양이"

'나의고양이'

In [ ]:
"Hello" * 10

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [ ]:
print("2+3 =",2+3)

2+3 = 5

In [ ]:
x = 10000
y = 20000

In [ ]:
print(x)
print(y)

10000
20000

In [ ]:
x = 100
y = 200
sum = x + y
print("합은", sum)

합은 300

In [ ]:
radius = 10
area = 3.14 * radius * radius
print("반지름", radius, "인 원의 면적=", area)

반지름 10 인 원의 면적= 314.0

In [ ]:
type(12.30)
#타입확인

float

In [ ]:
x=y=z=0
x,y,z = 10,20,30
#치환
x,y = y,x

In [ ]:
x = 1000
print("초깃값 x=" ,x)
x += 2;
print("x += 2 후의 x =", x)
x -= 2;
print("x -= 2후의 x=", x)

초깃값 x= 1000
x += 2 후의 x = 1002
x -= 2후의 x= 1000

In [ ]:
x = 3.14
y = int(x)
z =  str(x)

print(x)
print(y)
print(type(y))
print(type(z))

3.14
3
<class 'int'>
<class 'str'>

In [ ]:
price = 12345
tax = price * 0.075
print(tax)
print(round(tax))
#round 반올림

925.875
926

In [ ]:
msg =  "철수가 '안녕'이라고 말했습니다."
print(msg)

철수가 '안녕'이라고 말했습니다.

In [ ]:
a = """안녕하세요
안녕하세요안녕하세요안녕하세요
안녕하세요안녕하세요"""
print(a)
#문단 저장

안녕하세요
안녕하세요안녕하세요안녕하세요
안녕하세요안녕하세요

In [ ]:
print("말 한마디로 \n천냥빚을 갚는다")
print("\\") 
print("1\t1")
print("\'")
print("\"")

말 한마디로
천냥빚을 갚는다
\
1	1
'
"

In [ ]:
s = "Hello World"

print(s[0],s[6])
print(s[-3])
#인버스 인덱싱 (음수인덱싱)
print(s[0:2])
print(s[4:8])
#슬라이싱기법

H W
r
He
o Wo

In [ ]:
name = "Harry Parter"
lower_name = name.lower()
print(lower_name)

new_name = name.replace("Parter","Porter")
print(new_name)

harry parter
Harry Porter

In [ ]:
name = input("이름을 입력하세요:")

이름을 입력하세요:홍길동

In [ ]:
print(name)

홍길동

In [ ]:
s1 = int(input("첫 번쨰 정수 입력 : "))
s2 = int(input("두 번쨰 정수 입력 : "))
sum = s1+s2
print("합은",sum)

In [ ]:
x = 100
y = 200
print(f"{x}와 {y}의 합={x+y}")

100와 200의 합=300

In [ ]:
py = 7.1234
print("테스트 출력 %10.2f" % py)
                  #%10 10칸 할당
                  #.2f 소수점 2자리
                  # % py값

테스트 출력       7.12

In [ ]:
print("Mary\'s cosmetics")

Mary's cosmetics

In [ ]:

print("naver","kakao","sk","samsung", sep=';')

naver;kakao;sk;samsung

In [ ]:

print("naver","kakao","sk","samsung", sep='/')

naver/kakao/sk/samsung

In [ ]:
s = "hello"
t = "python"
print(s , end="!")

hello!

In [ ]:
num_str = "720"
print( int(num_str))

720

In [ ]:
year = "2000"
print(int(year)-3)

1997

In [ ]:
a=48584
b=36
print(a*b)

1749024

In [ ]:
price = int(input("상품의 가격:"))

if price > 20000 :
  shipping_cost = 0 
else : shipping_cost = 3000

print("배송비 =",shipping_cost)

상품의 가격:30000
배송비 = 0