<a href="https://colab.research.google.com/github/seongbeop/python_study/blob/main/python_study3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def get_area(radius):
  area = 3.14*radius**2
  return area

result = get_area(3)
print("반지름 3인 원의 면적 =", result)

반지름 3인 원의 면적 = 28.26

In [3]:
def test(*a):
  print(a)
  print(type(a))
test(10,20,30)
#가변 인수 / *a 값 여러개 받을 수 있음
#tuple 타입

(10, 20, 30)
<class 'tuple'>

In [5]:
def varfunc(*args):
  print(args)
print("하나의 값으로 호출")
varfunc(10)

print("여러 값 호출")
varfunc(10,20,30)

하나의 값으로 호출
(10,)
여러 값 호출
(10, 20, 30)

In [11]:
a = {"하나":1, "둘":2 ,"셋":3}
print(a)
print(type(a))
print(a["하나"])
print(a.values())
print(a.keys())

{'하나': 1, '둘': 2, '셋': 3}
<class 'dict'>
1
dict_values([1, 2, 3])
dict_keys(['하나', '둘', '셋'])

In [ ]:
#eval 정수로

In [15]:
#팩토리얼 계산

def factorial(n):
  if n == 1:
    return(1)
  else:
    return n * factorial(n-1)

n = eval(input("정수입력"))
print(n,"!=",factorial(n))

정수입력10
10 != 3628800

In [16]:
# 함수안에서 전역 변수 변경하기

gx = 100
g = 200
def myfunc():
  global gx  # 전역 변수 gx를 사용한다
  gx = g
  print(gx)

myfunc()
print(gx)

200
200

In [1]:
questions = ["name", "quest","color"]
answers = ["Kim", "파이썬" , "blue"]

for q,a in zip(questions, answers) :
  print(f"What is your {q}? It is {a}")

What is your name? It is Kim
What is your quest? It is 파이썬
What is your color? It is blue

In [ ]:
#append()
#insert(1, "" )
#pop(i) 인데스 기반 삭제
#remove(value) 값 기반 삭제
#list.sort() 리스트 정렬
#lsit.remove(max(list))
#

In [5]:
# 제거전 = [10.0 , 9.0 , 8.3 , 7.1 , 3.0 , 9.0]
# 제거후 = [9.0 , 8.3 , 7.1 , 9.0]

scores = [10.0, 9.0 ,8.3, 7.1 , 3.0 , 9.0]
print("제거전", scores)
scores.remove(max(scores))
scores.remove(min(scores))
print("제거후", scores)

제거전 [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
제거후 [9.0, 8.3, 7.1, 9.0]

In [7]:
squares = []

for x in range(10):
  squares.append(x*x)


squares1 = [x*x for x in range(10)]

print(squares)

print(squares1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
prices = [135, -545, 922, 356, -992, 217]
mprices = [ i if i > 0 else 0 for i in prices]
mprices

[135, 0, 922, 356, 0, 217]

In [10]:
words = ["All", "good", "things", "must", "come", "to","an","end."]
letters = [ w[0] for w in words]
letters

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [11]:
numbers = [x + y for x in ['a','b','c'] for y in ['x','y','z']]
numbers

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']