<a href="https://colab.research.google.com/github/seongbeop/python_study/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 타이타닉 데이터를 로드하라

In [ ]:
import pandas as pd

f = pd.read_csv("/content/titanic.csv")
# print(f)

2. 데이터의 상위 5개 행을 출력하라

In [ ]:
f.head(5)

3. 데이터의 행과 열의 갯수를 파악하라

In [ ]:
# print(f.shape[1])

4. 전체 컬럼을 출력하라

In [ ]:
f.columns

5. 6번째 컬럼명을 출력하라

In [ ]:
f.columns[5]

6. 6번째 컬럼의 데이터 타입을 확인하라

In [ ]:
# f.iloc[:5]

7. 데이터셋의 인덱스 구성은 어떤가

In [ ]:
f.index

8. 6번째 컬럼의 3번째 값은 무엇인가?

In [ ]:
f.iloc[2,5]

9. 데이터를 로드하라. 컬럼이 한글이기에 적절한 처리해줘야함

In [ ]:

df = pd.read_csv("/content/Jeju.csv" , encoding= "UTF-8")

10. 데이터 마지막 3개 행을 출력하라

In [ ]:
df.tail(3)

11. 수치형 변수를 가진 컬럼을 출력하라

In [ ]:
df.select_dtypes(exclude=object)

12. 범주형 변수를 가진 컬럼을 출력하라

In [ ]:
df.select_dtypes(include=object).columns

13. 각 컬럼의 결측치 숫자를 파악하라

In [ ]:
df.isnull().sum()

#T F.

14. 각 컬럼의 데이터수, 데이터타입을 한번에 확인하라

In [ ]:
df.info()

15. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라

In [ ]:
df.describe

16. 거주인구 컬럼의 값들을 출력하라

In [ ]:
df["거주인구"]

df[["거주인구"]]  ## 이중괄호 데이터프레임형태

17. 평균 속도 컬럼의 4분위 범위(IQR) 값을 구하여라

In [ ]:
df['평균 속도'].quantile(0.75) - df['평균 속도'].quantile(0.25)

18. 읍면동명 컬럼의 유일값 갯수를 출력하라

In [ ]:
df['읍면동명'].nunique()

19. 읍면동명 컬럼의 유일값을 모두 출력하라

In [ ]:
df.읍면동명.unique()

20. 식당 데이터를 로드하라.

In [ ]:
df = pd.read_csv("/content/chipo.csv")
# print(df)

21. quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라

In [ ]:
df.loc[df['quantity']==3].head(5)

22. quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라

In [ ]:
df.loc[df['quantity']==3].head().reset_index(drop=False)

#drop은 이전의 인덱스를 날리냐 마냐

23. quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하라

In [ ]:
re_df = df[['quantity' , 'item_price']]

24. item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하라

In [ ]:
# df['new_price'] =

df['new_price'] = df['item_price'].str[1:].astype("float")

25. new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라

In [ ]:
df['new_price']

len(df.loc[df['new_price'] <= 5] )

26. item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하여라

In [ ]:
df.loc[df['item_name'] == 'Chicken Salad Bowl'].reset_index(drop=True)

27. new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라

In [ ]:
df[ (df['new_price'] <= 9 ) & (df.item_name == "Chicken Salad Bowl") ]

28. df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라

In [ ]:
df.sort_values('new_price').reset_index(drop=True)

29. df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라

In [ ]:
df.loc[df['item_name'].str.contains('Chips')]

30. df의 짝수번째 컬럼만을 포함하는 데이터프레임을 출력하라

In [ ]:
df.iloc[:,::2]

31. df의 new_price 컬럼 값에 따라 내림차순으로 정리하고 index를 초기화 하여라

32. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하라

33. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 첫번째 케이스만 남겨라

34. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남겨라

35. df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하라

36. df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하라

37. df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하여라

38. df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하라(loc 이용)

39. df의 데이터 중 choice_description 값에 Black이 들어가는 경우를 인덱싱하라

40. df의 데이터 중 choice_description 값에 Vegetables 들어가지 않는 경우의 갯수를 출력하라

41. df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라

42. df의 데이터 중 item_name 값의 단어갯수가 15개 이상인 데이터를 인덱싱하라

43. df의 데이터 중 new_price값이 lst에 해당하는 경우의 데이터 프레임을 구하고 그 갯수를 출력하라 lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

44. 에어비앤비 데이터 로드

In [ ]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')

df.head(5)

45. 데이터의 각 host_name의 빈도수를 구하고 host_name으로 정렬하여 상위 5개를 출력하라

46. 데이터의 각 host_name의 빈도수를 구하고 빈도수 기준 내림차순 정렬한 데이터 프레임을 만들어라. 빈도수 컬럼은 counts로 명명하라

47. neighbourhood_group의 값에 따른 neighbourhood컬럼 값의 갯수를 구하여라

48. neighbourhood_group의 값에 따른 neighbourhood컬럼 값 중 neighbourhood_group그룹의 최댓값들을 출력하라

49. neighbourhood_group 값에 따른 price값의 평균, 분산, 최대, 최소 값을 구하여라

50. neighbourhood_group 값에 따른 reviews_per_month 평균, 분산, 최대, 최소 값을 구하여라

51. neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 구하라

52. 카드 이용 데이터를 로드해라

In [ ]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv',index_col=0)
df.head()

53. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라

```
Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K +’ : e
```

54. Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 

```
Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K +’ : e
```

55. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라. 
```
(0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력하라
```

56. Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라

57. Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라

58. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라

59. Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라

60. 국가별 5세이하 사망비율 통계 데이터를 로드해라

61. 데이터를 쪼개라

62. df1과 df2 데이터를 하나의 데이터 프레임으로 합쳐라

63. df3과 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 둘다 포함하고 있는 년도에 대해서만 고려한다

```
df3 = df.iloc[:2,:4]
df4 = df.iloc[5:,3:]

display(df3)
display(df4)
```

64. df3과 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 모든 컬럼을 포함하고, 결측치는 0으로 대체한다

65. df5과 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria컬럼을 key로 하고 두 데이터 모두 포함하는 데이터만 출력하라

```
df5 = df.T.iloc[:7,:3]
df6 = df.T.iloc[6:,2:5]

display(df5)
display(df6)
```

66. df5과 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria컬럼을 key로 하고 합집합으로 합쳐라